/* assets/css/fonts.css */
@font-face {
    font-family: 'Rubik';
    src: url('../public/fonts/Rubik/Rubik-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik Outline';
    src: url('./fonts/Rubik_Outline/Rubik-ExtraBold-Outlines.woff2') format('woff2');
}