$color-button-hover: #0032a0;
$primary_pink: #ff009b;
$color_2_footer_nav_headline: #555555;
$dark_grey: #1E1E1E;
$border-grey: #363636;
$color-2-grey-100: rgb(30, 30, 30);
$small_screen: 400px;
$medium_screen: 900px;

span {
    color: inherit;
}

.typography-headline-3,
p {
    color: white;
}

[data-testid="quantity-selector"] input,
[data-testid="product-accordion"],
[data-testid="accordion-item"],
[data-testid="category-layout"] .typography-headline-3 {
    color: white;
}

[data-testid="product-attributes"] option,
[data-testid="login-modal"] input,
[data-testid="review-form"] span>input,
[data-testid="editor-textarea"] {
    color: black !important;
}

[data-testid="review-form"]>div>form div:last-of-type {
    button:first-child {
        color: black;
        ;

        &:hover {
            background-color: $primary_pink;
        }
    }
}

[data-testid="couponZone"] .flex.justify-between.font-medium.p-3.my-4.bg-gray-100.rounded-md {
    p {
        color: black;
    }
}

[data-testid="checkout-button"],
[data-testid="couponAdd"],
[data-testid="contact-form"] button {
    transition: 0.3s 0s;
    background-color: $primary_pink !important;

    &:hover {
        box-shadow: 0px 0px 25px 0px rgba(255, 0, 155, 0.8) !important;
    }
}

[data-testid="contact-form"] button {
    &:hover {
        color: white !important;
    }
}

[data-testid="purchase-card"] {
    button {
        background-color: $primary_pink;

        &:hover {
            box-shadow: 0px 0px 25px 0px rgba(255, 0, 155, 0.8) !important;
        }
    }
}

header ul.bg-white a:hover,
header ul.bg-white button:hover {
    background-color: $primary_pink;
    color: white;
}

.text-pink,
header nav>a,
header nav>button,
header nav>div>button {
    &:hover {
        box-shadow: 0px 0px 25px 0px rgba(255, 0, 155, 0.8) !important;
        background-color: $primary_pink;
        color: white !important;
    }

    span {
        background-color: $primary_pink !important;
    }

    color: $primary_pink !important;
}

.bg-pink {
    background: $primary_pink !important;
}

.nav-transition {
    &--3 {
        transition: 0.3s;
    }
}

nav>div>button:active>svg {
    fill: white !important;
}


button {
    transition: .3s;
}

.neon-hover {
    &:hover {
        box-shadow: 0px 0px 25px 0px rgba(255, 0, 155, 0.8) !important;
    }
}

.footer {
    &-navigation {
        &--headline {
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 400;
            color: $color_2_footer_nav_headline;
        }
    }
}

.blaze-slide {
    & a {
        display: inline-block;
        color: #FFFFFF;
        background-color: $primary_pink;
        font-weight: 400;
        padding: 5px 15px 6px 15px;
        text-align: center;
        line-height: normal;
        text-transform: uppercase;
        border-radius: 42px;
        position: relative;
        transition: 0.3s 0s;

        &:hover {
            color: $color-button-hover;
            background-color: $primary_pink;
            box-shadow: 0px 0px 25px 0px rgba(255, 0, 155, 0.8) !important;
        }
    }

    div>div {
        background-color: transparent !important;
    }

    .object-cover {
        object-fit: contain;
    }
}

.blaze-next {
    right: 0 !important;
}

.blaze-prev {
    left: 0 !important;
}

.blaze-slide>div {
    width: 50%;
    margin-left: 17%;
}

.blaze-slide>div>div {
    opacity: 1 !important;
}

.typography-display-3 {
    font-weight: normal;
    font-family: 'Rubik Outline';
    text-transform: uppercase;
    color: #ff009b;
    letter-spacing: 0.5px;

    @media screen and (max-width: $small_screen) {
        font-size: 50px;
        height: auto;
    }

    font-size: 60px;
    line-height: 66px;
    text-shadow: 0 0 5px rgba(255, 0, 155, 0.8),
    0 0 15px rgba(255, 0, 155, 0.8),
    0 0 20px rgba(255, 0, 155, 0.8);
}

main {

    .text-xl,
    .text-2xl,
    .text-lg,
    .text-base,
    .typography-headline-4,
    .typography-text-sm,
    .text-sm,
    .typography-text-xs,
    .typography-headline-6 {
        color: white;
    }
}


.bg-white .text-xl,
.bg-white .text-2xl,
.bg-white .text-lg,
.bg-white .typography-headline-4,
.bg-white .typography-text-sm,
.bg-white .text-sm,
.bg-white .typography-text-xs {
    color: black;
}

.sms {
    &-body {
        background: black;
    }

    &-border {
        &--pink {
            border-color: $primary_pink;
        }

        &--grey {
            border-color: $border-grey;
        }
    }

    &-hero {
        &--row {
            position: relative;
        }

        &--image {
            max-width: 750px;
            margin: auto;
        }

        &--container {
            width: 25%;
        }

        &--sepwrap {
            padding: 10px 0;
        }

        &--seperator {
            width: 100%;
            height: 3px;
            display: block;
            border-radius: 2px;
            background: transparent;
            border: 1px solid #0050FF;
        }

        &--textwrapper {
            max-width: 1170px;
            margin: auto;
        }

        &--h2 {
            font-size: 20px;
            line-height: 22px;
            font-weight: 600;
        }

        &--bottomspacer {
            padding-top: 400px;
        }

        &--straw {
            width: 50px;
            height: 60vh;
            position: absolute;
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: top center;
            background: url("https://suckmystraw.com/wp-content/themes/suckmystraw-theme/img/straws/straw-v-pink.png")
        }
    }

    &-textimage {
        &--wrapper {
            margin: auto;
            padding: 200px 0;
        }

        &--textwrapper {
            width: 52%;
            margin-left: auto;
        }

        &--inner {
            padding: 50px 0 200px 0;
            max-width: 50%;
        }

        &--headline {
            font-size: 80px;
            line-height: 90px;
        }

        &--straw {
            max-height: calc(100% + 50px);
            min-height: 150%;
            width: 50px;
            height: calc(100vh + 60px);
            background-size: contain !important;
            background-repeat: no-repeat !important;
            position: absolute;
        }

        &--seperator {
            top: -10px;
        }

        &--iconcontainer {
            position: relative;

            &-icon {
                width: 30px;
                height: 30px;
                position: absolute;
                top: calc(50% - 15px);
                left: 0px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;

                &--1 {
                    background: url("https://suckmystraw.com/wp-content/themes/suckmystraw-theme/img/icons/shadow/strong.svg");
                }

                &--2 {
                    background: url("https://suckmystraw.com/wp-content/themes/suckmystraw-theme/img/icons/shadow/temperature.svg");
                }

                &--3 {
                    background: url("https://suckmystraw.com/wp-content/themes/suckmystraw-theme/img/icons/shadow/water.svg");
                }
            }
        }
    }

    &-centerimage {
        &--wrapper {
            padding-bottom: 200px;
        }

        &--textwrapper {
            width: 100%;
            text-align: center;
        }

        &--headline {
            font-size: 60px;
            line-height: 66px;
        }

        &--inner {
            max-width: 360px;
            margin: auto;
            padding-bottom: 100px;
        }

        &--strawwrapper {
            height: 150px;
            position: relative;
        }
        &--strawimage {
            top: 30px;
            left: -11%;
            position: absolute;
        }
        &--iconcontainer {
            position: relative;

            &-icon {
                width: 30px;
                height: 30px;
                position: absolute;
                top: calc(50% - 15px);
                left: 0px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;

                &--1 {
                    background: url("https://suckmystraw.com/wp-content/themes/suckmystraw-theme/img/icons/shadow/magic.svg");
                }

                &--2 {
                    background: url("https://suckmystraw.com/wp-content/themes/suckmystraw-theme/img/icons/shadow/dimensions.svg");
                }
            }
        }
        &--niceimage {
            max-width: 260px;
        }
    }

    &-asset {
        &--straw {
            &-1 {
                right: 800px;
                height: 50vh;
                bottom: -20px;
                transform: rotate(15deg);
            }

            &-2 {
                right: 650px;
                bottom: -20px;
                transform: rotate(15deg);
            }

            &-3 {
                top: 300px;
                left: 38%;
                background: url("https://suckmystraw.com/wp-content/themes/suckmystraw-theme/img/straws/straw-v-pink-pointed.png");
            }

            &-4 {
                top: 10px;
                left: 43%;
                background: url("https://suckmystraw.com/wp-content/themes/suckmystraw-theme/img/straws/straw-v-pink.png");
            }
        }
    }

    &-d {
        &--block {
            display: block !important;
        }
    }

    &-no_shadow {
        box-shadow: none;
    }

    &-headline {
        &-2 {
            font-weight: normal;
            color: #ff009b;
            letter-spacing: 0.5px;

            @media screen and (max-width: $small_screen) {
                font-size: 50px;
                height: auto;
            }

            font-size: 60px;
            line-height: 66px;
            text-shadow: 0 0 5px rgba(255, 0, 155, 0.8),
            0 0 15px rgba(255, 0, 155, 0.8),
            0 0 20px rgba(255, 0, 155, 0.8);
        }
    }

    &-boxshadow {
        &--pink {
            box-shadow: 0px 0px 20px 0px rgba(255, 0, 155, 0.8);
        }
    }

    &-hover_bg {
        &--pink {
            &:hover {
                background-color: $primary_pink;
            }
        }
    }

    &-pl {
        &--4 {
            padding-left: 40px;
        }
    }

    &-pb {
        &--5 {
            padding-bottom: 7rem;
        }
    }

    &-pt {
        &--4 {
            padding-top: 5rem;
        }
    }

    &-mb {
        &--2 {
            margin-bottom: 2.25rem;
        }

        &--5 {
            margin-bottom: 7rem;
        }
    }

    &-copytext {
        font-weight: 400;
        line-height: 22px;
        font-size: 16px;
    }

    &-hover--bgpink {
        background: $primary_pink !important;
    }

    &-button {
        &--primary {
            display: inline-block;
            color: #FFFFFF;
            background-color: $primary_pink;
            font-weight: 400;
            padding: 5px 15px 6px 15px;
            text-align: center;
            line-height: normal;
            text-transform: uppercase;
            border-radius: 42px;
            position: relative;
            transition: 0.3s 0s;

            &>a {
                background-color: $primary_pink;
            }

            &:hover {
                color: $color-button-hover;
                background-color: $primary_pink;
                box-shadow: 0px 0px 25px 0px rgba(255, 0, 155, 0.8) !important;
            }

            svg {
                vertical-align: bottom;
            }
        }

        &--wishlist {
            --tw-ring-color: none;

            &:hover {
                background-color: $primary_pink;
                --tw-ring-color: white;

                & path {
                    color: white;
                }
            }

            &:active {
                background-color: white;
                color: $primary_pink;
                --tw-ring-color: $primary_pink;
            }
        }
    }

    &-hero--image {
        @media screen and (min-width: $medium_screen) {}

        //transform: rotate(15deg);
    }

    &-mediacard {
        &--img>div>img {
            width: calc(50vw + 40%);
            max-width: 1200px;
            height: 45px;
            position: absolute;
            left: -35%;
        }

        &--wrapper {
            position: relative;
        }
    }

    &-swiper {
        padding-bottom: 100px !important;

        @media screen and (max-width: $small_screen) {
            max-height: 850px;
        }
    }

    &-newsletter {
        &--wrapper {
            overflow: hidden;
            position: relative;
        }

        &--content {
            padding: 2rem 2rem 7rem 2rem;
        }
    }

    &-seperator {
        z-index: 10;
        background-color: $dark_grey;
        transform: rotate(-2deg);
        position: absolute;
        height: 45px;
        width: 100%;
        left: -5px;

        &--pink {
            background-color: $primary_pink;
            bottom: 50px;

            @media screen and (max-width: $small_screen) {
                bottom: 10px;
            }
        }
    }

    &-category_sidebar {
        &--wrapper {}

        &--option {
            &:disabled {
                color: lightgrey;
            }

            color: black;
        }

        &--filter {
            & label {
                &:active {
                    background-color: $primary_pink;
                }
            }
        }
    }

    &-account {
        &--sidebar {
            .router-link-active {
                background-color: $primary_pink;
                font-weight: bold;
            }

            ul,
            li,
            a {
                color: white !important;
            }

            a {

                &:hover,
                &:active {
                    background-color: $color-2-grey-100;
                }
            }
        }
    }

    &-productcard {
        &--rating {
            & svg {
                color: $primary_pink;
            }
        }
    }

    &-purchasecard {
        &--whishlist_button {
            & svg {
                vertical-align: bottom;
            }
        }

        &--price {
            &>span {
                color: white;
            }
        }
    }

    &-productattributes {
        &--wrapper {
            & select {
                color: white;
            }

            & option {
                color: black;
            }
        }
    }

    &-product {
        &--accordion {

            h2,
            p {
                margin-bottom: 1rem;
            }

            h2 {
                font-size: 1.3125rem;
            }

            ul {
                list-style: unset;
                list-style-position: inside;
            }

            color: white;
        }
    }

    &-badges {
        &--wrapper {
            &>li {
                background-color: transparent !important;
                color: #2BD063 !important;
                font-size: .8rem;
            }
        }
    }

    &-recommend {
        &--wrapper {
            &>div:first-of-type {
                >button {
                    color: white !important;
                    background-color: $primary_pink;
                    --tw-ring-color: none !important;

                    &:hover {
                        box-shadow: 0px 0px 25px 0px rgba(255, 0, 155, 0.8) !important;
                    }

                    &:first-of-type {
                        left: -66px;
                    }

                    &:last-of-type {
                        right: -66px;
                    }
                }
            }
        }
    }

    &-productslider {
        &--wrapper {}

        &--item {
            color: white;
        }
    }

    &-overlay {
        &--wrapper {
            header>button {
                background-color: $primary_pink !important;

                &:hover {
                    color: white;
                }
            }

            form> {
                button {
                    background-color: $primary_pink;

                    &:hover {
                        box-shadow: 0px 0px 25px 0px rgba(255, 0, 155, 0.8) !important;
                    }
                }
            }
        }
    }

    &-account_dropdown {
        &--button {
            &-active {
                background-color: $primary_pink;

                & svg {
                    fill: white;
                }
            }

            // &:not(:active) {
            //     > svg {
            //         fill: $primary_pink;
            //     }
            // }
            &:hover {
                >svg {
                    fill: white;
                }
            }
        }

        &--ul {
            &>li {

                & a,
                button {
                    &:hover {
                        background-color: $primary_pink;
                    }
                }
            }
        }

        &--item.router-link-exact-active {
            background-color: $primary_pink;
            color: white;
            font-weight: bold;
        }
    }

}

.active\:sms-pagination--active {
    color: white !important;
    background-color: $primary_pink;
}